.post {
    background: white;
    background-position: center center;
    position:relative;
    background-size: cover;
    height:10%;
    width: 45%;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 2rem;
    font-size: 20px;
    margin:20px auto;


}
.post_header {
    display: flex;
    margin-bottom: 10px;
    padding: 20px;
}
.post_info {
    margin-left: 10px;
}
.post_info > p {
    font-size: 12px;
    color: gray
}
.post_info > h2 {
    font-size: 15px;
    justify-content: center;
}
.post_buttons {
    display: flex;
    justify-content: space-evenly;
}
.re:hover{
    background-color: #43354d;
    border-radius: 20px;
    
}
 .re{
    padding:20px;
    display:flex;
    align-items: center;
    color:gray;
    margin:5px;
    max-height: 10px;
}
.post_body{
    padding: 20px;
}
.dropdown-toggle::after {
    display:none;
}
